@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    /* margin: unset; */
    /* padding: unset; */
}

body {
    background-color: #f1f1f1;
color: #0f141e;
margin: unset;


/* * {
    padding: 0;
    margin: 0;
} */

/* font-size: 16px;
font-weight: normal;
font-family: 'Roboto', sans-serif; */
font: normal 16px 'Roboto', sans-serif;
}

.soc {
    margin-bottom: 20px;
    font-style: normal;
    color: black;
}

a {
  color: black;
  text-decoration: none; 
}


a:hover {
    text-decoration: underline;
}


a:visited {
    color: grey;
}

a:active{
    color: blue;
}

.avatar {
width: 200px;
border-radius: 28px;
box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.35);
}

.info {
    display: flex;
    color: #87898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* letter-spacing: 5px;
    word-spacing: 42px; */

}
/* boxmodel */

.info h1 {
    color: black;
    font-style: normal;    
}

.info img{
    margin-right: 40px;
    margin-bottom: 40px;
}



.info h4 {
    margin-bottom: 10px;
}

.container {
    width: 1100px;
    margin: auto ;
    padding-top: 30px;
}



/* .social {
    background: green ;
    padding: 5px 3px 10px 12px;
    border: red 5px solid;
    margin: 5PX;
} */

.bg-yeloow {
    background: #fff9dc;
}


.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 12px;
}

.list {
    padding-left: 19px;
}

.lisl li {
    color: #86898f;
    margin-bottom: 10px;
}

.table1 {
    width: 100%;
}
.table1 td {
    padding-bottom: 10px;
}

.table1 td:nth-child(2),
.table1 td:nth-child(3) {
    color: #86898f;
}

/* .table1 tr:nth-child(odd) {
    background: red;
} */

.list2 {
    /* list-style: none; */
    padding-left: 20px;
}

.list2 li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #ccc; */
}

.contact h2{
    text-align: center;
}
.contact-form label{
    display: block;
    font-size: 20px;
    color: #86898f;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .contact-form {
    width: 50%;
    margin-right: 20px;
}
.row > .contact-form:last-child {
    margin-right: 0;
}


.btn {
    color: white;
    padding: 15px 20px;
    background-color: black;
    border: none;
    /* font-family: inherit; */
    cursor: pointer;
}


.btn:hover {
    opacity: 0.9;
    text-decoration: underline;
}

.btn:active {
    background-color: grey;
}


.header .container {
    display: flex;
    /* flex-direction: row; */
    text-align: center;
    margin: unset;
    padding: .7rem  ;
    opacity: 1;
    
}


.header {
    /* position: fixed; */
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #d8d6d67e;
    justify-content: center;
    opacity: 1;
    
}

.header .container .content {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.contact_me {
    margin: auto 0;
}

.contact_me:visited {
    color: black;
}


.logo {
    height: 5rem;
    width: auto;
}